{% extends 'app/ecom/homebase.html' %}
{% load static %}


{% block content %}


<div class="card mb-3">
  <div class="card-header position-relative min-vh-25 mb-7">
    
    <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url(../../../static/public/assets/img/2.png);">
    </div>
    <!--/.bg-holder-->

    <div class="avatar avatar-5xl avatar-profile"><img class="rounded-circle img-thumbnail shadow-sm" src="{% static 'public/assets/img/logo.jpg' %}" width="100" alt="" /></div>
  </div>


  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <h4 class="mb-1">Ecuadorquideasec<span data-bs-toggle="tooltip" data-bs-placement="right" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
        </h4>
        <h5 class="fs-0 fw-normal">Get in touch with us for the best quality plants</h5>
        <p class="text-500">Chilca, El Oro, Ecuador</p>
        <a class="btn btn-falcon-primary btn-sm px-3" href="https://www.facebook.com/ecuadorquideas" type="button">Following</a>
        <div class="border-dashed-bottom my-4 d-lg-none"></div>
      </div>
      
    </div>
  </div>


</div>
<div class="row g-0">
  <div class="col-lg-8 pe-lg-2">
    <div class="card mb-3">
      <div class="card-header bg-light">
        <h5 class="mb-0">About us</h5>
      </div>
      <div class="card-body text-justify">
        <p class="mb-0 text-1000">Ecuadorquideas began in 1988 in the canton of Marcabeli in the province of El Oro, with the initiative of Mrs. Carmen Apolo Bustamante, which based on effort and sacrifice has managed to consolidate what is now known as Ecuadorquideas..</p>
        <div class="collapse show" id="profile-intro">
          <p class="mt-3 text-1000">In its beginnings, Ecuadorquideas started as a refuge center for threatened orchids in danger of extinction, caused by indiscriminate logging and burning of forests turning them into simple pastures without any vegetation. For which a lease contract is made in the site of San Antonio of the Marcabeli canton, time later the construction of a greenhouse is made to later receive the endangered species. </p>
          <p class="text-1000">Little by little, the idea of conserving the orchids was gaining strength, so in 1995, "Ecuadorquideas" bought a piece of land and built a greenhouse in the city of Machala, with the purpose of having the specimens in their most similar climate of origin and that is how they began to propagate the species and to obtain more of them, through the acquisition of the other companies of that time.</p><br>
          <p class="text-1000 mb-0">In 1997 the Ecuadorquideas management center had the need to expand its facilities, due to the capacity of management and reproduction by simple participation of the species and so it decided to look for a place with an ideal climate for orchids. The site chosen was "La Chilca" located in the canton of "Santa Rosa" in the province of "El Oro".</p><br>
          <p class="text-1000 mb-0">In 1998 Mrs. Carmen Apolo became a member of the ECUADORIAN ORGANIZATION OF ORCHIDOLOGY. With which the dream of continuing with the project was strengthened, since with it strong bonds were formed with the other partners.</p><br>
          <p class="text-1000 mb-0">In the year 2000 Ecuadorquideas was launched as a trade name and requested a patent permit from the FOREST DISTRICT OF THE PROVINCES OF EL ORO AND GUAYAS (Ministry of Environment). This was granted for a period of 1 year, thus Ecuadorquideas regulates its activities in front of public institutions, being able to make its first exports.</p><br>
          <p class="text-1000 mb-0">ECUADORQUIDEAS CHILCA has its facilities in the Province of "El Oro" in the Canton "Santa Rosa" Parish "Torata" Site La Chilca (Via A Piñas 200 meters from the central church of the site La Chilca).</p><br>
          
          <img class="mb-0" style="max-width:100%; max-height:100%;" src="{% static 'images/ubicacion_.png' %}" alt=""><br>
         <br>
          <p class="text-1000 mb-0">The area is located within the so-called Tropical Rainforest in transition to Tropical Dry Forest, with rainfall ranging from 800 to 1200 mm per year, an average temperature of 27º C and drops to 12º C and a relative humidity between 70 to 90% depending on the season and the influence of sea winds due to the proximity to the sea, since the province has direct marine influence.</p><br>
        
      
        </div>
      </div>
      <div class="card-footer bg-light p-0 border-top">
        <button class="btn btn-link d-block w-100 btn-intro-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#profile-intro" aria-expanded="true" aria-controls="profile-intro">Show <span class="less">less<span class="fas fa-chevron-up ms-2 fs--2"></span></span><span class="full">full<span class="fas fa-chevron-down ms-2 fs--2"></span></span></button>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header bg-light d-flex justify-content-between">
        <h5 class="mb-0">Countries </h5><a class="font-sans-serif" href="">All countries</a>
      </div>
      <div class="card-body fs--1 pb-0">
        <div class="row">
          <div class="col-sm-6 mb-3">
            <div class="d-flex position-relative align-items-center mb-2"><img class="d-flex align-self-center me-2 rounded-3" src="{% static 'images/aboutus/ecuador.png' %}" alt="" width="50" />
              <div class="flex-1">
                <h6 class="fs-0 mb-0"><a class="stretched-link" href="#!">Ecuador</a></h6>
                <p class="mb-1">24 states</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="d-flex position-relative align-items-center mb-2"><img class="d-flex align-self-center me-2 rounded-3" src="{% static 'images/aboutus/alemania.png' %}" alt="" width="50" />
              <div class="flex-1">
                <h6 class="fs-0 mb-0"><a class="stretched-link" href="#!">Germany</a></h6>
                <p class="mb-1">5 states</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="d-flex position-relative align-items-center mb-2"><img class="d-flex align-self-center me-2 rounded-3" src="{% static 'images/aboutus/francia.png' %}" alt="" width="50" />
              <div class="flex-1">
                <h6 class="fs-0 mb-0"><a class="stretched-link" href="#!">France</a></h6>
                <p class="mb-1">35 states</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="d-flex position-relative align-items-center mb-2"><img class="d-flex align-self-center me-2 rounded-3" src="{% static 'images/aboutus/united.png' %}" alt="" width="50" />
              <div class="flex-1">
                <h6 class="fs-0 mb-0"><a class="stretched-link" href="#!">United States</a></h6>
                <p class="mb-1">15 states</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  
    <div class="card mb-3 mb-lg-0">
      <div class="card-header bg-light">
        <h5 class="mb-0">Photos</h5>
      </div>
      <div class="card-body overflow-hidden">
        <div class="row g-0">
          <div class="col-6 p-1"><a class="glightbox" href="" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="{% static 'images/aboutus/01.jpg' %}"alt="..." /></a></div>
          <div class="col-6 p-1"><a class="glightbox" href="" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="{% static 'images/aboutus/02.jpg' %}" alt="..." /></a></div>
          <div class="col-4 p-1"><a class="glightbox" href="" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="{% static 'images/aboutus/03.jpg' %}" alt="..." /></a></div>
          <div class="col-4 p-1"><a class="glightbox" href="" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="{% static 'images/aboutus/04.jpg' %}"alt="..." /></a></div>
          <div class="col-4 p-1"><a class="glightbox" href="" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="{% static 'images/aboutus/05.jpg' %}" alt="..." /></a></div>
          <div class="col-4 p-1"><a class="glightbox" href="" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="{% static 'images/aboutus/con1.jpg' %}" alt="..." /></a></div>
          <div class="col-4 p-1"><a class="glightbox" href="" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="{% static 'images/aboutus/con2.jpg' %}" alt="..." /></a></div>
          <div class="col-4 p-1"><a class="glightbox" href="" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="{% static 'images/aboutus/con3.jpg' %}" alt="..." /></a></div>
          
        
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 ps-lg-2">
    <div class="sticky-sidebar">
      <div class="card mb-3">
        <div class="card-header bg-light">
          <h5 class="mb-0">Plants</h5>
        </div>
        <div class="card-body fs--1">
          
        <video class="mb-0" style="max-width:100%; max-height:100%;"  src="{% static 'videos/ecuadorquideas_.mp4' %}" autoplay muted loop></video>
        <p class="text-1000 mb-0">ECUADORQUIDEAS CHILCA, destined mainly to TROPICAL PLANTS mostly alocasias, anthuriums, colocasias, chlorospatha, elaphaglosum, geogenatus, marcgravia, monstera, philodendo, synogoniun, xanthosoma. It has a capacity of approximately 3000 plants, currently enabled for the species of the anthurium family that ECUADORQUIDEAS CHILCA owns.</p><br>


        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header bg-light">
          <h5 class="mb-0"> Contacts</h5>
        </div>
        <div class="card-body fs--1">
          <div class="d-flex"><a href="#!">
              <div class="avatar avatar-3xl">
                <div class="avatar-name rounded-circle"><span>EC</span></div>
              </div>
            </a>
            <div class="flex-1 position-relative ps-3">
              <h6 class="fs-0 mb-0"> <a href="#!">Chilca - Ecuador<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span></a></h6>
              <p class="mb-1"> Place of cultivation</p>
              <p class="text-1000 mb-0">(+593) 7 2164104  –  (+593) 978600115</p>
              <p class="text-1000 mb-0">SITIO LA CHILCA – PARROQUIA TORATA – CANTON SANTA ROSA – PROVINCIA EL ORO – ECUADOR</p>
              <div class="border-dashed-bottom my-3"></div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="card mb-3 mb-lg-0">
        <div class="card-header bg-light">
          <h5 class="mb-0">Events</h5>
        </div>
        {% for event in events  %}
        <div class="card-body fs--1">
        
          <div class="d-flex btn-reveal-trigger">
            <div class="calendar"><span class="calendar-month">{{event.date_start|date:"l" }}</span><span class="calendar-day">{{event.date_start|date:'d'}}</span></div>
            <div class="flex-1 position-relative ps-3">
              <h6 class="fs-0 mb-0"><a href="../../app/events/event-detail.html">{{event.tittle}}</a></h6>
              <h6 class="fs-0 mb-0"><a href="{{event.url}}">{{event.tittle}} <span class="badge badge-soft-success rounded-pill">Free</span></a></h6>
              <p class="mb-1">Organized by <a href="#!" class="text-700">{{event.organized}}</a></p>
              <p class="text-1000 mb-0">Time: {{event.time_start}}</p>
              <p class="text-1000 mb-0">Duration: {{event.date_start}} - {{event.date_end}}</p>{{event.site}}
              <div class="border-dashed-bottom my-3"></div>
            </div>
            
          </div>
          
        </div>
        {% endfor %}
        <div class="card-footer bg-light p-0 border-top"><a class="btn btn-link d-block w-100" href="/events">All Events<span class="fas fa-chevron-right ms-1 fs--2"></span></a></div>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header bg-light">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="mb-0" id="followers">Members <span class="d-none d-sm-inline-block">(2)</span></h5>
      </div>
      <div class="col text-end"><a class="font-sans-serif" href="">All Members</a>
      </div>
    </div>
  </div>
  <div class="card-body bg-light px-1 py-0">
    <div class="row g-0 text-center fs--1">
      <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
        <div class="bg-white dark__bg-1100 p-3 h-100"><a href=""><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="{% static 'images/aboutus/carmen_.jpeg' %}" alt="" width="100" /></a>
          <h6 class="mb-1"><a href="">Sra. Carmen Filomena Apolo Bustamante</a>
          </h6>
          <p class="fs--2 mb-1"><a class="text-700" href="#!">Chilca-Ecuador</a></p>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
        <div class="bg-white dark__bg-1100 p-3 h-100"><a href=""><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="{% static 'images/aboutus/aquiles.jpeg' %}" alt="" width="100" style="height: 100px;"/></a>
          <h6 class="mb-1"><a href="../../pages/user/profile.html">Aquiles Torres</a>
          </h6>
          <p class="fs--2 mb-1"><a class="text-700" href="#!">Machala - Ecuador</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}