<!DOCTYPE html>
{% extends 'app/ecom/customer_base.html' %}
{% load static %}
{% load widget_tweaks %}
<html lang="en" dir="ltr">

{% block content %}
<br><br>
    <div class="card mb-3">
      <form method="post">
        {% csrf_token %}
      <div class="card-header">
        <div class="row flex-between-end">
          <div class="col-auto align-self-center">
            <h5 class="mb-0" data-anchor="data-anchor">Feedback</h5>
          </div>
          
        </div>
      </div>
      <div class="card-body bg-light">
        <div class="tab-content">
          <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-aaae31fb-8418-4ebf-bfb2-12b905874396" id="dom-aaae31fb-8418-4ebf-bfb2-12b905874396">
            <div class="mb-3">
              <label class="form-label" for="exampleFormControlInput1">Name</label>

              {% render_field feedbackForm.name class="form-control"  placeholder="Enter you name." %}
            </div>
            <div class="mb-3">
              <label class="form-label" for="exampleFormControlTextarea1">Your Feedback</label>
             
              {% render_field feedbackForm.feedback id="field5" class="form-control"rows="3" %}
            </div>
          </div>
          <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-5b65eabf-8724-44fc-b10b-93c9826d4c4f" id="dom-5b65eabf-8724-44fc-b10b-93c9826d4c4f">
            <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;div class=&quot;mb-3&quot;&gt;
&lt;label class=&quot;form-label&quot; for=&quot;exampleFormControlInput1&quot;&gt;Email address&lt;/label&gt;
&lt;input class=&quot;form-control&quot; id=&quot;exampleFormControlInput1&quot; type=&quot;email&quot; placeholder=&quot;name@example.com&quot; /&gt;
&lt;/div&gt;
&lt;div class=&quot;mb-3&quot;&gt;
&lt;label class=&quot;form-label&quot; for=&quot;exampleFormControlTextarea1&quot;&gt;Example textarea&lt;/label&gt;
&lt;textarea class=&quot;form-control&quot; id=&quot;exampleFormControlTextarea1&quot; rows=&quot;3&quot;&gt;&lt;/textarea&gt;
&lt;/div&gt;</code></pre>
          </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Send Feedback" />
      </div>
    </div>
  </form>

  {% endblock content %}
