{% load static %}

<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/social/styles.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="map_section">
    <div class="map_container">
      <div class="map">
        <div id="googleMap"></div>
      </div>
    </div>
  </div>

  <!-- end map section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <img style="size:20px" src="{% static 'images/logo.png' %}" alt="">
            <p class="mt-3" style="color: white;">
                Get In Touch With Us For The Best Quality Plants & Succulents
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links pl-lg-5" >
            <h5 style="color: white;">
              Useful Link
            </h5>
            <ul>
              <li class="active">
                <a href="index.html">
                  Home
                </a>
              </li>
              <li>
                <a href="about.html">
                  About
                </a>
              </li>
              <li>
                <a href="gallery.html">
                  Gallery
                </a>
              </li>
              <li>
                <a href="contact.html">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_insta">
            <h5 style="color: white;">
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="">
                  <div class="insta-box b-1">
                    <img src="{% static 'images/insta-1.png' %}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-2">
                    <img src="{% static 'images/insta-2.png' %}" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="{% static 'images/insta-3.png' %}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="{% static 'images/insta-4.png' %}" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="{% static 'images/insta-5.png' %}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="{% static 'images/insta-6.png' %}" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_contact">
            <h5 style="color: white; padding-bottom: 5px;">
              Contact
            </h5>
            <div>
              <img src="{% static 'images/location-white.png' %}" alt="">
              <p style="color: white;">
                La Chilca, El Oro, Ecuador
              </p>
            </div>
            <div>
              <img src="{% static 'images/telephone-white.png' %}" alt="">
              <p style="color: white;">
                +49 1525 3507629
              </p>
            </div>
            <div>
              <img src="{% static 'images/envelope-white.png' %}" alt="">
              <p style="color: white;">
                info@ecuadorquideas.com
              </p>
            </div>
            <div>
                <p style="color: white;">
                    <a href="https://www.facebook.com/ecuadorquideas" class="fa fa-facebook"></a>
                    <a href="https://api.whatsapp.com/send?phone=593999612077&text=Hello%20Sumit.%0d%0aHow%20are%20you%20%3f%0d%0aI%20came%20from%20your%20website.&source=&data=#" class="fa fa-whatsapp"></a>
                    <a href="https://www.instagram.com/ecuadorquideas/?hl=es" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/AgrocalidadZ7/status/1114940510693744641/photo/1" class="fa fa-twitter"></a>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a href="https://html.design/">@Aquiles 2022</a>
    </p>
  </footer>
  <!-- footer section -->